<script type="text/javascript">
  // Call redirect timer function
  setRedirectToHome();
</script>

<div class="admin-view">
  <h1>Set Kiosk Location</h1>
    <%= form_tag(origin_administration_index_path, remote: true, class: 'form-inline') do %>
      <div class="form-group">
        <%= text_field_tag :origin, @origin, placeholder: 'Example: R1152', class: 'form-control start' %>
      </div>
      <%= submit_tag 'Submit Start Location', class: 'btn btn-default' %>
    <% end %>

  <h1>Upload Facilities CSV</h1>
    <%= form_tag(csv_administration_index_path, multipart: true, class: 'form-inline') do %>
      <div class="form-group">
        <%= file_field_tag :uploaded_csv, class: 'form-control start' %>
      </div>
      <%= submit_tag 'Submit CSV for import', class: 'btn btn-default' %>
    <% end %>
  <h1>Edit Department Locations</h1>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Room Number</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @departments.each do |department| %>

          <%= form_tag(department_location_administration_index_path, remote: true) do %>
          <tr>
            <td><%= department.title %></td>
            <% if department.room %>
            <td><%= text_field_tag :department_room_number, department.room.room_number, placeholder: department.inspect, class: 'form-control' %></td>
            <% else %>
            <td><%= text_field_tag :department_room_number, nil, placeholder: 'Room Number', class: 'form-control' %></td>
            <% end %>
            <%= hidden_field_tag :department_id, department.id %>
            <td><%= submit_tag 'Submit Start Location', class: 'btn btn-default' %></td>
          </tr>
        <% end %>

      <% end %>
      </tbody>
    </table>
</div>


