<script type="text/javascript">
  var notice = "<%= params[:notice] %>";
  var error = "<%= params[:error] %>";
</script>

<h1 id="directory-title">Administration</h1>

<div class="admin-view">
  <div class="alert" role="alert">
    <span class="notice"></span>
  </div> <!-- .alert -->

  <div class="panel-group" id="accordion">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            Set Kiosk Location
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <%= form_tag(origin_administration_index_path, id: "originform", remote: true, class: 'form-inline') do %>
            <div class="form-group">
              <%= text_field_tag :origin, @origin, placeholder: 'Example: R1152', class: 'form-control start' %>
            </div>
            <%= submit_tag 'Set Location', class: 'btn btn-default' %>
          <% end %>
        </div>
      </div>
    </div> <!-- .panel -->

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseMaps">
            Manage SVG Maps
          </a>
        </h4>
      </div>
      <div id="collapseMaps" class="panel-collapse collapse">
        <div class="panel-body">
          <% (0..5).each do |f| %>
            <%= form_tag(map_upload_administration_index_path,
              multipart: true, remote: true, class: 'form-horizontal') do %>
              <div class="form-group">
                <%= label_tag 'Floor ' + f.to_s, nil, class: 'col-sm-2 control-label' %>
                <div class="col-sm-8">
                  <%= file_field_tag :uploaded_map, class: 'form-control', :accept => 'image/svg+xml' %>
                  <%= hidden_field_tag :map_floor, f %>
                </div>
                <div class="col-sm-2">
                  <%= submit_tag 'Upload', class: 'btn btn-default' %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div> <!-- .panel -->

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            Upload New Facilities CSV
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          <%= form_tag(csv_administration_index_path, multipart: true, remote: true, class: 'form-inline') do %>
            <div class="form-group">
              <%= file_field_tag :uploaded_csv, class: 'form-control start' %>
            </div>
            <%= submit_tag 'Upload', class: 'btn btn-default' %>
            <%= link_to " FacilitiesLink",
              "https://ucdavis.metabim.com/Buildings/Home/Managers/Managers.csv?Bkey=1066",
              :target => "_blank", :class => "pull-right btn" %>
          <% end %>
        </div>
      </div>
    </div> <!-- .panel -->

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
            Manage RSS Fetching
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th>Feed URL</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @rss_feeds.each do |rss_feed| %>
                <tr>
                  <td><%= rss_feed.url %></td>
                  <td><%= link_to 'Remove', rss_feed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
                <tr>
                  <%= form_for(@rss_feed, remote: false, class: 'form-inline') do |f| %>
                  <td>
                    <%= f.text_field :url, class: "form-control" %>
                  </td>
                  <td>
                    <%= f.submit "Add Feed", class: "btn btn-default" %>
                  </td>
                  <% end %>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> <!-- .panel -->

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
            Edit Department Locations
          </a>
        </h4>
      </div>

      <div id="collapseFour" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="row" style="margin-top: 1em;">
            <% @departments.each do |department| %>
              <%= form_tag(department_location_administration_index_path, class: "deptform form-horizontal", remote: true) do %>
              <div class="form-group">

                <label for="department" class="col-sm-3 control-label"><%= department.title %></label>
                <div class="col-sm-2">
                <% if department.room %>
                <%= text_field_tag :department_room_number, department.room.room_number, placeholder: department.inspect, class: 'form-control' %>
                <% else %>
                <%= text_field_tag :department_room_number, nil, placeholder: 'Room Number', class: 'form-control' %>
                <% end %>
                <%= hidden_field_tag :department_id, department.id %>
                </div>
                <div class="col-sm-2">
                <%= submit_tag 'Save Location', class: 'btn btn-default' %>
                </div>
              </div>
              <% end %>
            <% end %>
          </div> <!-- .row -->
        </div>
      </div> <!-- #collapseFour -->
    </div> <!-- .panel -->

  </div> <!-- #accordion -->
</div> <!-- .admin-view -->
