<script type="text/javascript">
  // Call redirect timer function
  setRedirectToHome();
  var notice = "<%= params[:notice] %>";
  var error = "<%= params[:error] %>";
</script>

<div class="admin-view">
  <div class="alert" role="alert">
    <button type="button" class="close">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <span class="notice"></span>
  </div>

  <h1>Set Kiosk Location</h1>
    <%= form_tag(origin_administration_index_path, id: "originform", remote: true, class: 'form-inline') do %>
      <div class="form-group">
        <%= text_field_tag :origin, @origin, placeholder: 'Example: R1152', class: 'form-control start' %>
      </div>
      <%= submit_tag 'Submit Start Location', class: 'btn btn-default' %>
    <% end %>

  <h1>Upload Facilities CSV</h1>
    <%= form_tag(csv_administration_index_path, multipart: true, remote: true, class: 'form-inline') do %>
      <div class="form-group">
        <%= file_field_tag :uploaded_csv, class: 'form-control start' %>
      </div>
      <%= submit_tag 'Submit CSV for import', class: 'btn btn-default' %>
    <% end %>
  <h1>Edit Department Locations</h1>

  <div class="row" style="margin-top: 1em;">
    <% @departments.each do |department| %>
      <%= form_tag(department_location_administration_index_path, class: "deptform form-horizontal", remote: true) do %>
      <div class="form-group">

        <label for="department" class="col-sm-3 control-label"><%= department.title %></label>
        <div class="col-sm-2">
        <% if department.room %>
        <%= text_field_tag :department_room_number, department.room.room_number, placeholder: department.inspect, class: 'form-control' %>
        <% else %>
        <%= text_field_tag :department_room_number, nil, placeholder: 'Room Number', class: 'form-control' %>
        <% end %>
        <%= hidden_field_tag :department_id, department.id %>
        </div>
        <div class="col-sm-2">
        <%= submit_tag 'Submit Start Location', class: 'btn btn-default' %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>


