<% cache directory_object do %>
<!-- Generate Initial Anchor -->
<% if @initial_category == false %>
    <tr class="category-header"><td class="margin-none" id="category_<%= @scrubber_category_index %>"><%= @scrubber_categories[@scrubber_category_index] %></td></tr>
    <% @initial_category = true %>
<% end %>

<!-- Generate Category Anchors -->
<% while directory_object.title.first.upcase != @scrubber_categories[@scrubber_category_index] do %>
    <% @scrubber_category_index += 1 %>
    <tr class="category-header"><td class="margin-none" id="category_<%= @scrubber_category_index %>"><%= @scrubber_categories[@scrubber_category_index] %></td></tr>
<% end %>

<!-- Generate a row for a department -->
<tr class="clickable-row" data-url="/directory/<%= directory_object.id %>"><td>
  <h3><%= directory_object.title %></h3>
  <!-- Room -->
  <% if directory_object.room %>
    <span class="department-row-field"><%= directory_object.room.room_number %></span>
  <% end %>
  </td>
</tr>
<% end %>
