<script type="text/javascript">
  // Call redirect timer function
  setRedirectToHome();
</script>

<div class="admin-view">
  <h1>Set start location</h1>
    <%= form_tag("/admin/origin", remote: true, class: 'form-inline') do %>
      <div class="form-group">
        <%= text_field_tag :origin, @origin, placeholder: 'Example: R1152', class: 'form-control start' %>
      </div>
      <%= submit_tag 'Submit Start Location', class: 'btn btn-default' %>
    <% end %>

  <h1>input csv</h1>
    <%= form_tag("/admin/csv", multipart: true, class: 'form-inline') do %>
      <div class="form-group">
        <%= file_field_tag :uploaded_csv, class: 'form-control start' %>
      </div>
      <%= submit_tag 'Submit CSV for import', class: 'btn btn-default' %>
    <% end %>
</div>
