<script type="text/javascript">
  // Call redirect timer function
  setRedirectToHome();
  $(function() {
    $('a.btn-home').click(function(e) {
      e.preventDefault();
      var anchor = $(this), h;
      h = anchor.attr('href');
      $('ul.vertical-nav').animate({left: '-200%'}, 500, function() {
        window.location = h;
      })
    });
  });
</script>

<h1 id="directory-title"><%= params[:type].pluralize %></h1>
<ul class="directory-list">
<!-- People -->
    <% @directory_objects.each do |directory_object| %>
        <% if directory_object.type == "Person" %>
          <li>
            <a href="/directory/<%= directory_object.id %>" class="people-card">
              <h3><%= directory_object.first + " " + directory_object.last %></h3>
              <p>
                <!-- Room number -->
                <% if directory_object.rooms.length > 0 %>
                  <%= directory_object.rooms.first.room_number %>
                <% end %>
                <!-- Department -->
                <% if directory_object.department  %>
                  <%= directory_object.department.title.titleize %>
                <% end %>
              </p>
              <!-- Email -->
              <p><%= directory_object.email %></p>
              <!-- Phone -->
              <p><%= directory_object.phone %></p>
            </a>
          </li>
        <% end %>
<!-- Events -->
        <% if directory_object.type == "Event" %>
          <li>
            <a href="/directory/<%= directory_object.id %>" class="events-card">
              <h3><%= directory_object.title %></h3>
                <p>
                  <% if directory_object.room %>
                  <%= directory_object.room.room_number %>
                  <% end %>

                  <% if directory_object.time %>
                  <%= directory_object.time %>
                  <% end %>
                </p>
                <p>
                  <% if directory_object.link %>
                  <%= directory_object.link %>
                  <% end %>
                </p>
                <p>
                  <% if directory_object.department %>
                  <%= directory_object.department.title.titleize %>
                  <% end %>
               </p>
             </a>
          </li>
        <% end %>
<!-- Departments -->
        <% if directory_object.type == "Department" %>
            <li>
              <a href="/directory/<%= directory_object.id %>" class="departments-card">
                <h3><%= directory_object.title.titleize %></h3>
                <p>
                </p>
              </a>
            </li>
        <% end %>
<!-- Rooms -->
        <% if directory_object.type == "Room" %>
            <li>
              <a href="/directory/<%= directory_object.id %>" class="rooms-card">
                <h3><%= directory_object.room_number %></h3>
                <p><%= directory_object.name %></p>
              </a>
            </li>
        <% end %>
    <% end %>
    </div>
</div>
