
  <h3><%= params[:type].pluralize unless params[:type].blank? %></h3>

  <div class="directory-list">
    <div id="scrubber-view">
        <ul class="nav nav-list" id="slider-vertical">
            <% if @directory_objects.first  && ['Room', 'Person', 'Department'].include?(@directory_objects.first.type) && @scrubber_categories %>
                <% @scrubber_categories.each_with_index do |category, index| %>
                    <li  id="scrubber-category_<%= index %>"><a href="#category_<%= index %>">
                        <%= category %>
                    </a></li>
                <% end %>
            <% end %>
        </ul>
    </div> <!-- #scrubber-view -->

    <table class="table directory-table directory-table--border directory-table--view">
      <tbody style="width: 100%; display:table;">
        <% @initial_category = false %>
        <% @scrubber_category_index = 0 %>

        <% @directory_objects.each_with_index do |directory_object, index| %>
          <%= render "index_" + directory_object.type.downcase.pluralize, directory_object: directory_object %>
        <% end %>
      </tbody>
    </table>
  </div> <!-- .directory-list.spy-container -->

