<h1>Listing Directory Objects</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
<% @directory_objects.each do |directory_object| %>
  <tr>
    <td><%= directory_object.first %></td>
    <td><%= directory_object.last %></td>
    <td><%= directory_object.email %></td>
    <td><%= directory_object.phone %></td>


    <td><%= link_to "Show", directory_object %></td>
  </tr>
<% end %>
</table>
 
<br>
