<h1 id="directory-title"><%= params[:type].pluralize unless params[:type].blank? %></h1>
<div class="directory-list">
    <div id="destination-view" class="text-people directory-nav" style="right: 0px;">
        <h1 class="btn-people">Quick Nav</h1>
        <div id="side-nav">
          <ul class="nav nav-list affix" id="slider-vertical">
            <% @scrubber_categories.each_with_index do |directory_object, index| %>
                <li  id="scrubber-category_<%= index %>"><a href="#category_<%= index %>"></a><%= @scrubber_categories[index] %></li>
            <% end %>
            <li  id="scrubber-category_0"><a href="#category_0">One</a></li>
            <li  id="scrubber-category_1"><a href="#category_1">Two</a></li>
            <li  id="scrubber-category_2"><a href="#category_2">Three</a></li>
          </ul>
        </div>

    </div>

    <table class="table content">
    <tbody>

        <% initial_category = false %>
        <% scrubber_category_index = 0 %>
        <% @directory_objects.each_with_index do |directory_object, index| %>
    <!-- People -->
            <% if directory_object.type == "Person" %>

                <!-- Generate Initial Anchor -->
                <% if initial_category == false %>
                    <tr><td id="category_<%= scrubber_category_index %>"><%= @scrubber_categories[scrubber_category_index] %></td></tr>
                    <% initial_category = true %>
                <% end %>

                <!-- Generate Category Anchors -->
                <% while directory_object.last.first.upcase != @scrubber_categories[scrubber_category_index] do %>
                    <% scrubber_category_index += 1 %>
                    <tr><td id="category_<%= scrubber_category_index %>"><%= @scrubber_categories[scrubber_category_index] %></td></tr>
                <% end %>

                <!-- Generate a row for a person -->
                <tr class="clickable-row" data-url="/directory/<%= directory_object.id %>"><td>
                  <h3><%= directory_object.first + " " + directory_object.last %></h3>
                  <!-- Room number -->
                  <% if directory_object.rooms.length > 0 %>
                    <span class="people-row-field"><%= directory_object.rooms.first.room_number %></span>
                  <% end %>
                  <!-- Department -->
                  <% if directory_object.department  %>
                    <span class="people-row-field"><%= directory_object.department.title %></span>
                  <% end %>&nbsp;
                  <!-- Email -->
                  <span class="people-row-field"><%= directory_object.email %></span>
                  <!-- Phone -->
                  <span class="people-row-field"><%= directory_object.phone %></span>
                  </td>
                </tr>
            <% end %>
    <!-- Events -->
            <% if directory_object.type == "Event" %>
              <li class="pag paginate-group-<%= pagination_group %>">
                <a href="/directory/<%= directory_object.id %>" class="events-card">
                  <h3><%= directory_object.title %></h3>
                    <p>
                      <% if directory_object.room %>
                      <%= directory_object.room.room_number %>
                      <% end %>&nbsp;
                    </p>
                    <p>
                      <% if directory_object.time %>
                      <%= directory_object.time %>
                      <% end %>&nbsp;
                    </p>
                    <p>
                      <% if directory_object.link %>
                      <%= directory_object.link %>
                      <% end %>&nbsp;
                    </p>
                    <p>
                      <% if directory_object.department %>
                      <%= directory_object.department.title %>
                      <% end %>&nbsp;
                   </p>
                 </a>
              </li>
            <% end %>
    <!-- Departments -->
            <% if directory_object.type == "Department" %>
                <li class="pag paginate-group-<%= pagination_group %>">
                  <a href="/directory/<%= directory_object.id %>" class="departments-card">
                    <h3><%= directory_object.title %></h3>
                    <p>
                      <% if directory_object.room %>
                      <%= directory_object.room.room_number %>
                      <% end %>
                      &nbsp;
                    </p>
                  </a>
                </li>
            <% end %>
    <!-- Rooms -->
            <% if directory_object.type == "Room" %>
                <li class="pag room paginate-group-<%= pagination_group %>">
                  <a href="/directory/<%= directory_object.id %>" class="rooms-card">
                    <h3><%= directory_object.room_number %>&nbsp;</h3>
                    <p><%= directory_object.name %>&nbsp;</p>
                  </a>
                </li>
            <% end %>
        <% end %>
    </tbody>
    </table>
</div> <!-- .directory-list.spy-container -->
