<script type="text/javascript">
  // Call redirect timer function
  setRedirectToHome();
  $(function() {
    resizeIcons();
    $('a.btn-home').click(function(e) {
      e.preventDefault();
      var anchor = $(this), h;
      h = anchor.attr('href');
      $('ul.vertical-nav').animate({left: '-200%'}, 500, function() {
        window.location = h;
      })
    });
  });
</script>

<h1 id="directory-title"><%= params[:type].pluralize unless params[:type].blank? %></h1>
<ul class="directory-list">
<!-- People -->
    <% pagination_group = 1 %>
    <% @directory_objects.each_with_index do |directory_object, index| %>
        <% if (index != 0) && (index % 6 == 0) %>
            <% pagination_group = pagination_group + 1 %>
        <% end %>
        <% if directory_object.type == "Person" %>
          <li class="pag paginate-group-<%= pagination_group %>">
            <a href="/directory/<%= directory_object.id %>" class="people-card">
              <h3><%= directory_object.first + " " + directory_object.last %></h3>
              <p>
                <!-- Room number -->
                <% if directory_object.rooms.length > 0 %>
                  <%= directory_object.rooms.first.room_number %>
                <% end %>
                <!-- Department -->
                <% if directory_object.department  %>
                  <%= directory_object.department.title.titleize %>
                <% end %>&nbsp;l
              </p>
              <!-- Email -->
              <p><%= directory_object.email %>&nbsp;</p>
              <!-- Phone -->
              <p><%= directory_object.phone %>&nbsp;</p>
            </a>
          </li>
        <% end %>
<!-- Events -->
        <% if directory_object.type == "Event" %>
          <li class="pag paginate-group-<%= pagination_group %>">
            <a href="/directory/<%= directory_object.id %>" class="events-card">
              <h3><%= directory_object.title %></h3>
                <p>
                  <% if directory_object.room %>
                  <%= directory_object.room.room_number %>
                  <% end %>&nbsp;
                </p>
                <p>
                  <% if directory_object.time %>
                  <%= directory_object.time %>
                  <% end %>&nbsp;
                </p>
                <p>
                  <% if directory_object.link %>
                  <%= directory_object.link %>
                  <% end %>&nbsp;
                </p>
                <p>
                  <% if directory_object.department %>
                  <%= directory_object.department.title.titleize %>
                  <% end %>&nbsp;
               </p>
             </a>
          </li>
        <% end %>
<!-- Departments -->
        <% if directory_object.type == "Department" %>
            <li class="pag paginate-group-<%= pagination_group %>">
              <a href="/directory/<%= directory_object.id %>" class="departments-card">
                <h3><%= directory_object.title.titleize %></h3>
                <p>&nbsp;</p> <!-- room number should go here -->
              </a>
            </li>
        <% end %>
<!-- Rooms -->
        <% if directory_object.type == "Room" %>
            <li class="pag room paginate-group-<%= pagination_group %>">
              <a href="/directory/<%= directory_object.id %>" class="rooms-card">
                <h3><%= directory_object.room_number %>&nbsp;</h3>
                <p><%= directory_object.name %>&nbsp;</p>
              </a>
            </li>
        <% end %>
    <% end %>
    </div>
</div>
