<h1 id="directory-title"><%= params[:type].pluralize unless params[:type].blank? %></h1>
<div class="directory-list">
    <div id="scrubber-view" >
        <div id="side-nav">
          <ul class="nav nav-list affix" id="slider-vertical">

            <% if @directory_objects.first.type == "Person" || @directory_objects.first.type == "Department" %>
                <% @scrubber_categories.each_with_index do |category, index| %>
                    <li  id="scrubber-category_<%= index %>"><a href="#category_<%= index %>">
                        <%= category %>
                    </a></li>
                <% end %>
            <% end %>
            <% if @directory_objects.first.type == "Room" %>
                <% @scrubber_categories.each_with_index do |category, index| %>
                    <li  id="scrubber-category_<%= index %>"><a href="#category_<%= index %>">
                        <%= category %>
                    </a></li>
                <% end %>
            <% end %>

          </ul>
        </div>

    </div>

    <table class="table content">
    <tbody>

        <% initial_category = false %>
        <% scrubber_category_index = 0 %>
        <% @directory_objects.each_with_index do |directory_object, index| %>
    <!-- People -->
            <% if directory_object.type == "Person" %>

                <!-- Generate Initial Anchor -->
                <% if initial_category == false %>
                    <tr class="category-header"><td id="category_<%= scrubber_category_index %>" ><%= @scrubber_categories[scrubber_category_index] %></td></tr>
                    <% initial_category = true %>
                <% end %>

                <!-- Generate Category Anchors -->
                <% while directory_object.last.first.upcase != @scrubber_categories[scrubber_category_index] do %>
                    <% scrubber_category_index += 1 %>
                    <tr class="category-header"><td id="category_<%= scrubber_category_index %>"><%= @scrubber_categories[scrubber_category_index] %></td></tr>
                <% end %>

                <!-- Generate a row for a person -->
                <tr class="clickable-row" data-url="/directory/<%= directory_object.id %>"><td>
                  <h3><%= directory_object.first + " " + directory_object.last %></h3>
                  <!-- Room number -->
                  <% if directory_object.rooms.length > 0 %>
                    <span class="people-row-field"><%= directory_object.rooms.first.room_number %></span>
                  <% end %>
                  <!-- Department -->
                  <% if directory_object.department  %>
                    <span class="people-row-field"><%= directory_object.department.title %></span>
                  <% end %>&nbsp;
                  <!-- Email -->
                  <span class="people-row-field"><%= directory_object.email %></span>
                  <!-- Phone -->
                  <span class="people-row-field"><%= directory_object.phone %></span>
                  </td>
                </tr>
            <% end %>
    <!-- Events -->
            <% if directory_object.type == "Event" %>
              <li>
                <a href="/directory/<%= directory_object.id %>" class="events-card">
                  <h3><%= directory_object.title %></h3>
                    <p>
                      <% if directory_object.room %>
                      <%= directory_object.room.room_number %>
                      <% end %>&nbsp;
                    </p>
                    <p>
                      <% if directory_object.time %>
                      <%= directory_object.time %>
                      <% end %>&nbsp;
                    </p>
                    <p>
                      <% if directory_object.link %>
                      <%= directory_object.link %>
                      <% end %>&nbsp;
                    </p>
                    <p>
                      <% if directory_object.department %>
                      <%= directory_object.department.title %>
                      <% end %>&nbsp;
                   </p>
                 </a>
              </li>
            <% end %>
            
    <!-- Departments -->
            <% if directory_object.type == "Department" %>

                <!-- Generate Initial Anchor -->
                <% if initial_category == false %>
                    <tr class="category-header"><td id="category_<%= scrubber_category_index %>"><%= @scrubber_categories[scrubber_category_index] %></td></tr>
                    <% initial_category = true %>
                <% end %>

                <!-- Generate Category Anchors -->
                <% while directory_object.title.first.upcase != @scrubber_categories[scrubber_category_index] do %>
                    <% scrubber_category_index += 1 %>
                    <tr class="category-header"><td id="category_<%= scrubber_category_index %>"><%= @scrubber_categories[scrubber_category_index] %></td></tr>
                <% end %>

                <!-- Generate a row for a department -->
                <tr class="clickable-row" data-url="/directory/<%= directory_object.id %>"><td>
                  <h3><%= directory_object.title %></h3>
                  <!-- Room -->
                  <% if directory_object.room %>
                    <span class="department-row-field"><%= directory_object.room.room_number %></span>
                  <% end %>
                  </td>
                </tr>
            <% end %>
            
    <!-- Rooms -->
            <% if directory_object.type == "Room" %>
                <!-- Generate Initial Anchor -->
                <% if initial_category == false %>
                    <tr><td id="category_<%= scrubber_category_index %>" class="category-header">Floor <%= @scrubber_categories[scrubber_category_index] %></td></tr>
                    <% initial_category = true %>
                <% end %>

                <!-- Generate Category Anchors -->
                <% while (scrubber_category_index < @scrubber_categories.count) && (directory_object.room_number.to_s.first.to_i != @scrubber_categories[scrubber_category_index]) do %>
                    <% scrubber_category_index += 1 %>
                    <tr><td id="category_<%= scrubber_category_index %>" class="category-header">Floor <%= scrubber_category_index %> 
                    </td></tr>
                <% end %>

                <!-- Generate a row for a Room -->
                <tr class="clickable-row" data-url="/directory/<%= directory_object.id %>"><td>
                  <h3><%= directory_object.room_number %></h3>
                  <!-- Room Name -->
                  <% if directory_object.name %>
                    <span class="room-row-field"><%= directory_object.name %></span>
                  <% end %>
                  </td>
                </tr>
            <% end %>
        <% end %>
    </tbody>
    </table>
</div> <!-- .directory-list.spy-container -->
