<script type="text/javascript">
  // Call redirect timer function
  setRedirectToHome();
</script>

<div id="directory-banner">
    <h1 id="directory-title">Directory</h1>
</div>
<div class="directory-list">
<!-- People -->
    <% @directory_objects.each do |directory_object| %>
        <% if directory_object.type == "Person" %>
            <div class="panel panel-default directory-card people-card">
                <a href="/directory/<%= directory_object.id %>">
                <h1 class="panel-heading"><%= directory_object.first + " " + directory_object.last %></h1>
                <table class="card-content">
                    <tr>
                        <% if directory_object.department  %>
                        <td><%= directory_object.department.title %></td>
                        <% else %>
                        <td></td>
                        <% end %>
                        <% if directory_object.rooms.length > 0 %>
                        <td><%= directory_object.rooms.first.room_number %></td>
                        <% else %>
                        <td></td>
                        <% end %>
                    </tr>
                    <tr>
                        <td><%= directory_object.email %></td>
                        <td><%= directory_object.phone %></td>
                    </tr>
                 </table>
                </a>
            </div>
        <% end %>
<!-- Events -->
        <% if directory_object.type == "Event" %>
            <div class="panel panel-default directory-card event-card">
                <a href="/directory/<%= directory_object.id %>">
                <h1 class="panel-heading"><%= directory_object.title %></h1>
                <table class="card-content">
                    <tr>
                        <td>
                            <% if directory_object.room %>
                            <%= directory_object.room.room_number %>
                            <% end %>
                        </td>
                        <td>
                            <% if directory_object.time %>
                            <%= directory_object.time %>
                            <% end %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <% if directory_object.link %>
                            <%= directory_object.link %>
                            <% end %>
                        </td>
                        <td>
                            <% if directory_object.department %>
                            <%= directory_object.department.title %>
                            <% end %>
                        </td>
                    </tr>
                 </table>
                </a>
            </div>
        <% end %>
<!-- Departments -->
        <% if directory_object.type == "Department" %>
            <div class="panel panel-default directory-card department-card">
                <a href="/directory/<%= directory_object.id %>">
                <h1 class="panel-heading"><%= directory_object.title %></h1>
                <table class="card-content">
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                 </table>
                </a>
            </div>
        <% end %>
<!-- Rooms -->
        <% if directory_object.type == "Room" %>
            <div class="panel panel-default directory-card room-card">
                <a href="/directory/<%= directory_object.id %>">
                <h1 class="panel-heading"><%= directory_object.room_number %></h1>
                <table class="card-content">
                    <tr>
                        <td><%= directory_object.name %></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                 </table>
                </a>
            </div>
        <% end %>
    <% end %>
    </div>
</div>
