<script type="text/javascript">
  <!-- Redirect after 60 seconds if @origin is set (Kiosk mode) -->
  setTimeout(function(){
    if ('<%= @origin %>' != '')
      window.location = "/";
  }, 60000);

  console.log("DirectoryObject#show content_for firing.");

  ready = function() {
    console.log("DirectoryObject#show content_for page:load firing.");

    $(document).on("wayfinding:ready", function() {
      console.log("wayfinding is now ready");
    });

    $('#map').wayfinding({
      'maps': [
        {'path': '<%= asset_path "ssh_floor_0.svg" %>', 'id': 'floor0'},
        {'path': '<%= asset_path "ssh_floor_1.svg" %>', 'id': 'floor1'},
        {'path': '<%= asset_path "ssh_floor_2.svg" %>', 'id': 'floor2'},
        {'path': '<%= asset_path "ssh_floor_3.svg" %>', 'id': 'floor3'},
        {'path': '<%= asset_path "ssh_floor_4.svg" %>', 'id': 'floor4'},
        {'path': '<%= asset_path "ssh_floor_5.svg" %>', 'id': 'floor5'}
      ],
      'dataStoreCache': '<%= asset_path "datastore.json" %>',
      'path': {
        width: 3,
        color: 'cyan',
        radius: 8,
        speed: 8
      },
      'startpoint': function () {
        console.debug('Start location is ', '<%= @origin %>');
        return '<%= @origin %>';
      },
      'defaultMap': 'floor1'
    });
  };

  $(document).ready(ready);

  $(document).on("page:load", ready);

</script>


<div class="row">
      <div class="col-xs-9">
        <ul class="horizontal-nav floors">
          <span>Floors</span>
          <li><a href="#" class="btn-floor">1</a></li>
          <li><a href="#" class="btn-floor">2</a></li>
          <li><a href="#" class="btn-floor">3</a></li>
          <li><a href="#" class="btn-floor">4</a></li>
          <li><a href="#" class="btn-floor">5</a></li>
        </ul>
        <div id="map">
          <div id="mapLoading">
            <%= image_tag("loading.gif", alt: "Edit Entry") %>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
    </div> <!-- col-xs-3 -->
</div> <!-- row -->

