<% content_for :javascript do %>
  <%= javascript_include_tag "jquery.wayfinding" %>
  <%= javascript_include_tag "floor" %>
<% end %>

<script type="text/javascript">
  console.log("DirectoryObject#show content_for firing.");

  ready = function() {
    console.log("DirectoryObject#show content_for page:load firing.");

    $(document).on("wayfinding:ready", function() {
      console.log("wayfinding is now ready");
    });

    $('#map').wayfinding({
      'maps': [
        {'path': '<%= asset_path "ssh_floor_0.svg" %>', 'id': 'floor0'},
        {'path': '<%= asset_path "ssh_floor_1.svg" %>', 'id': 'floor1'},
        {'path': '<%= asset_path "ssh_floor_2.svg" %>', 'id': 'floor2'},
        {'path': '<%= asset_path "ssh_floor_3.svg" %>', 'id': 'floor3'},
        {'path': '<%= asset_path "ssh_floor_4.svg" %>', 'id': 'floor4'},
        {'path': '<%= asset_path "ssh_floor_5.svg" %>', 'id': 'floor5'}
      ],
      'dataStoreCache': '<%= asset_path "datastore.json" %>',
      'path': {
        width: 3,
        color: 'cyan',
        radius: 8,
        speed: 8
      },
      'startpoint': function () {
        console.debug('Start location is ', '<%= @origin %>');
        return '<%= @origin %>';
      },
      'defaultMap': 'floor1'
    });
  };

  $(document).ready(ready);

  $(document).on("page:load", ready);

</script>


<div class="row">
      <div class="col-xs-9">
        <div id="mapLoading">Loading</div>
        <div id="map"></div>
<div id="floor-picker">
            <button type="button" class="btn-xl btn floor floor1-button">Floor 1</button>
            <button type="button" class="btn-xl btn floor floor2-button">Floor 2</button>
            <button type="button" class="btn-xl btn floor floor3-button">Floor 3</button>
            <button type="button" class="btn-xl btn floor floor4-button">Floor 4</button>
            <button type="button" class="btn-xl btn floor floor5-button">Floor 5</button>
        </div>
      </div>
      <div class="col-xs-3">
    </div> <!-- col-xs-3 -->
</div> <!-- row -->

