<!DOCTYPE html>
<html>
	<head>

		<%= stylesheet_link_tag "printPlacardStyle.css", media: "all" %>

	</head>


	<body>
		<!--===========The javascript functions to change title and background image ====-->
		<script>
		var toggleBGImg = false;
		function changeBgImage()
				{
				  var background = document.getElementById("bgImage");
				  var bckSrc = background.src;
				  if(toggleBGImg == true){
					background.setAttribute("src", "/assets/placard/back1.jpg");
					toggleBGImg = false;
				  }
				  else{
				 	background.setAttribute("src", "/assets/placard/Modern1.jpg");
					toggleBGImg = true;
				  }

				  
				}
		function changeTitle(newName)  
				{

				 var entTitle = document.getElementById("newTitle").value;
				 document.getElementById("titleField").innerHTML= entTitle;
				}
			
		</script>

			<!-- This is the placard background -->
		<div class="backgroundImg">
      <%= image_tag("placard/back1.jpg", id: "bgImage", alt: "back", class: "bgstyle") %>

			<!-- This is the name field -->
			<div id="nameField" class="name"> <%= @name %>

			<!--Extra (watch for div enclosure-->
			<div id="titleField" class="title"><%= @title %></div>

			</div>

			<!-- This is the QR image-->
			<div class="qr">
          <%= image_tag(@qrLink, alt: "qrCode", class: "qrstyle", id: "qrImage") %>
			</div>

			<!-- ===============EXTRA=================-->
			<div class="logo">
        <!-- image_tag("icon.png", size: "16x10", alt: "Edit Entry") -->
					<%= image_tag("placard/davislogo.png", alt: "logoCode", class: "logostyle", id: "logoImage") %>
			</div>


			<!-- This is the department name field 
			<div id="depNameField" class="depname"><%= @department %></div>-->
		<div id="depNameField" class="depname"><%= @department %></div>
		<div id="emailField" class="email"><%= @email %></div>
			<!-- =====================================-->
		</div>

		<div>
		<input type="text" id="newTitle">

		<button onclick="changeTitle()">Enter Title</button>
		<button onclick="changeBgImage()">Toggle Background Image</button>
		</div>
		<br>




		<br>
		<br>
		Thanks for participating in the new and improved wayfinding system!
		<br>
		<br>
		If background image is not being displayed, go to advanced print settings and change 'print background' option

	</body>
</html>
