<!DOCTYPE html>
<html>

<head>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag "print_placard", media: "all" %>
</head>
<body>

	<!-- ========= Start Placard ============-->

	<% @results.each do |person| %>
	<!-- This is the placard background -->
	<div class="backgroundImg">
		<%= image_tag("placard/back0.jpg", id: "bgImage", alt: " ", class: "bgstyle") %>

		<!--WATCH FOR <DIV> NESTING-->

		<!-- This is the name field -->
		<div id="nameField" class="name"> <%= person[:name] %>

			<div id="titleField" class="title"><%= person[:title] %> </div>

			<div id = "extraInfoLine" class = "leftLine">
				<!-- This is the email address-->
				<div id="emailField" class="email"><%= person[:email] %></div>

				<!--Extra info-->
				<!-- <h3>Office Hours</h3> -->
				<div id="extraField" class="extrainfo">Office Hours
					<span><%= simple_format(person[:office_hours]).html_safe %></span>
				</div>
			</div>

		</div>

		<!-- This is the QR image-->
		<div class="qr"> <%= image_tag(person[:qrLink], alt: "qrCode", class: "qrstyle", id: "qrImage") %></div>

		<!-- This is the school logo -->
		<div class="logo"><%= image_tag("placard/davislogo.png", alt: "logoCode", class: "logostyle", id: "logoImage") %></div>

		<!-- This is the department name-->
		<div id="depNameField" class="depname"><%= person[:department] %></div>

	</div>
	<% end %>
	<!-- ========= End Placard ============-->

	<!-- This is where the user can change the background-->

	<div class= "buttonDiv">
		<span>Change Background</span>
		<button onclick="changeBgImage(0)" id = "0">Previous Image</button>
		<button onclick="changeBgImage(1)" id = "1">Next Image</button>
	</div>

	<!-- Printing tips-->
	<h2>
		Printing Tips
	</h2>

	<p class="important">
		*****Make sure to set printing orientation to horizontal*****
	</p>

	<p>
		If background images are not showing up or text colors are not correct in the print:
	</p>

	<p>
		Internet Explorer <br>
		File -> Page Setup -> Print Background Colors and Images
	</p>

	<p>
		Firefox <br>
		Windows: Print -> Properties -> Page Setup -> Print Background (colors & images) <br>
		Mac: File -> Print -> Show Details -> Print background colors and Print background images
	</p>

	<p>
		Google Chrome <br>
		Print -> Background colors and images
	</p>

	<p>
		Safari <br>
		File -> Print -> Safari (from drop down menu) -> Print Backgrounds
	</p>

	<%= javascript_include_tag "placard" %>
</body>
</html>
