<script type="text/javascript">

  ready = function() {
    <% if @origin %>
    // Origin is set
      var destination, directory_object;

      $(document).on("wayfinding:floorChanged", function(e, data) {
        console.debug("Wayfinding indicates the floor has changed during an animation. Floor: " + data.map_id);
        // Make the corresponding floor button active
        $("a.btn-floor").removeClass('active');
        $($('a.btn-floor[data-mapId="' + data.map_id + '"]')[0]).addClass('active')
      });

      $(document).on("wayfinding:roomClicked", function(e, data) {
        console.debug("Wayfinding indicates a room was clicked. Room: " + data.room_id);
        destination = data.room_id;

        endFloor = destination.substring(1,2);
        $("a.btn-floor").removeClass('destination');
        $('a.btn-floor[data-mapId="floor' + endFloor + '"]').addClass('destination');

        setRedirectToHome(); // reset the home page return timer

        $.get( "/room/" + destination.substr(1) + ".json", function( data ) {
          showInfo(data);
        });
      });

      $(document).on("wayfinding:animationComplete", function() {
        console.debug("Wayfinding indicates animation is complete.");
        $('.replay').removeClass('disabled');
      });

      $(document).on("wayfinding:ready", function(e, data) {
        startFloor = '<%= @origin %>'.substring(1,2);
        $('a.btn-floor[data-mapId="floor' + startFloor + '"]').addClass('active').addClass('start');

        try {
          directory_object = jQuery.parseJSON('<%= raw @directory_object.to_json %>');
          similar = '<%= @department %>';
          class_suffix = '<%= @directory_object.type.pluralize.downcase if @directory_object.present? %>';
          if (directory_object) {
            showInfo(directory_object, similar, class_suffix);
          }
        } catch(e) {
          console.error('Error parsing @directory_object to JSON', e)
        }

        destination = '<%= @destination %>';
        endFloor = '<%= @destination %>'.substring(1,2);

        if (destination.length > 0) {
          console.debug("destination = ",destination);
          $('#map').wayfinding('routeTo', destination);
          $('.replay').addClass('disabled');

          $("a.btn-floor").removeClass('destination');
          $('a.btn-floor[data-mapId="floor' + endFloor + '"]').addClass('destination');
        }

        $('.replay').click(function(e) {
          e.preventDefault();
          if (destination.length > 0 && !$(this).hasClass('disabled')) {
            $('#map').wayfinding('routeTo', destination);
            $(this).addClass('disabled');
          }
        });

         //toggle accessibleRoute
        $('.accessible').click(function(e) {
          e.preventDefault();

          if (destination.length > 0)
            $('a.accessible').toggleClass('active');
            $('#map').wayfinding('accessibleRoute', !$('#map').wayfinding('accessibleRoute'), function() {
              if($('.replay').hasClass("disabled") == false) {
                // Route was alredy shown, so redraw with accessibility enabled
                $('.replay').addClass('disabled');
                $('#map').wayfinding('routeTo', destination);
              }
            });
         })
      });

    <%
      @svg_paths = ["/maps/floor0.svg",
                    "/maps/floor1.svg",
                    "/maps/floor2.svg",
                    "/maps/floor3.svg",
                    "/maps/floor4.svg",
                    "/maps/floor5.svg"]
    %>
    <%= wayfinding_plugin(@svg_paths, asset_path("/dataStore/dataStore-" + @origin + ".json"), asset_path("/dataStore/dataStore-accessible-" + @origin + ".json"), @origin) %>
    <% else %>
      // Origin is not set
      $("#mapLoadingInner").html("Kiosk location needs to be set.");

    <% end %>
  };

  $(document).ready(ready);

  $(document).on("page:load", ready);

</script>


<div class="row">
  <div class="show-map"> <!-- col-xs-9 -->
    <ul class="horizontal-nav map-actions">
      <span>Floors</span>
      <li><a href="#" data-mapId="floor0" class="btn-floor">L</a></li>
      <li><a href="#" data-mapId="floor1" class="btn-floor">1</a></li>
      <li><a href="#" data-mapId="floor2" class="btn-floor">2</a></li>
      <li><a href="#" data-mapId="floor3" class="btn-floor">3</a></li>
      <li><a href="#" data-mapId="floor4" class="btn-floor">4</a></li>
      <li><a href="#" data-mapId="floor5" class="btn-floor">5</a></li>
    </ul>
    <div id="map">
      <div id="mapLoading">
        <div id="mapLoadingInner">
          <%= image_tag("loader.gif", alt: "Loading") %>
        </div>
      </div>
    </div> <!-- #map -->
    <ul class="horizontal-nav map-actions">
      <li><a href="#" class="btn-map-action icon-accessible accessible"></a></li>
      <li><a href="#" class="btn-map-action icon-repeat replay disabled"></a></li>
    </ul>
  </div> <!-- .show-map -->

  <div id="destination-view">

    <h1>Destination</h1>

  </div> <!-- destination-view -->
</div> <!-- row -->
