<script type="text/javascript">
  // Call redirect timer function
  setRedirectToHome();
  $(function() {
    resizeIcons();
    $('a.btn-home').click(function(e) {
      e.preventDefault();
      var anchor = $(this), h;
      h = anchor.attr('href');
      $('ul.vertical-nav').animate({left: '-200%'}, 500, function() {
        window.location = h;
      })
    });
  });

  console.log("DirectoryObject#show content_for firing.");

  function showInfo() {
    $('#destination-view').css('right', 0);
  }

  ready = function() {
    console.log("DirectoryObject#show content_for page:load firing.");

    $(document).on("wayfinding:ready", function() {
      setTimeout( showInfo(), 3000 );

      $('.replay').click(function() {
        if (destination.length > 0)
          $('#map').wayfinding('routeTo', destination);
       })

      console.log("wayfinding is now ready");
      $($('a.btn-floor[data-mapId="floor1"]')[0]).addClass('active')
      var destination = '<%= @destination %>';
      if (destination.length > 0)
        console.debug("destination = ",destination);
        $('#map').wayfinding('routeTo', destination);
    });

    $('#map').wayfinding({
      'maps': [
        {'path': '<%= asset_path "ssh_floor_0.svg" %>', 'id': 'floor0'},
        {'path': '<%= asset_path "ssh_floor_1.svg" %>', 'id': 'floor1'},
        {'path': '<%= asset_path "ssh_floor_2.svg" %>', 'id': 'floor2'},
        {'path': '<%= asset_path "ssh_floor_3.svg" %>', 'id': 'floor3'},
        {'path': '<%= asset_path "ssh_floor_4.svg" %>', 'id': 'floor4'},
        {'path': '<%= asset_path "ssh_floor_5.svg" %>', 'id': 'floor5'}
      ],
      'dataStoreCache': '<%= asset_path "datastore.json" %>',
      'path': {
        width: 3,
        color: '#C26E60',
        radius: 8,
        speed: 8
      },
      'startpoint': function () {
        console.debug('Start location is ', '<%= @origin %>');
        return '<%= @origin %>';
      },
      'defaultMap': 'floor1'
    });
  };

  $(document).ready(ready);

  $(document).on("page:load", ready);

</script>


<div class="row">
      <div class="col-xs-9 show-map">
        <ul class="horizontal-nav floors">
          <span>Floors</span>
          <li><a href="#" data-mapId="floor0" class="btn-floor">L</a></li>
          <li><a href="#" data-mapId="floor1" class="btn-floor">1</a></li>
          <li><a href="#" data-mapId="floor2" class="btn-floor">2</a></li>
          <li><a href="#" data-mapId="floor3" class="btn-floor">3</a></li>
          <li><a href="#" data-mapId="floor4" class="btn-floor">4</a></li>
          <li><a href="#" data-mapId="floor5" class="btn-floor">5</a></li>
        </ul>
        <div id="map">
          <div id="mapLoading">
            <div id="mapLoadingInner">
              <%= image_tag("loader.gif", alt: "Loading") %>
            </div>
          </div>
        </div>
      </div>
      <div id="destination-view" class="panel panel-default">
          <h1 class="panel-heading">Destination</h1>
          <div class="panel-body">
          <% if @directory_object.type == "Person" %>
              <h2>Room </h2>
              <span><%= @directory_object.rooms.first.room_number %></span> 
              <% if @directory_object.name %>
              <h2>Name </h2>
              <span><%= @directory_object.first + " " + @directory_object.last %></span> 
              <% end %>
              <% if @directory_object.email %>
              <h2>Email </h2>
              <span><%= @directory_object.email %></span> 
              <% end %>
              <% if @directory_object.phone %>
              <h2>Phone </h2>
              <span><%= @directory_object.phone %></span>
              <% end %>
              <% if @directory_object.department %>
              <h1>Search Similar<h1>
              <a href="/directory?search=<%= @directory_object.department.title %>"><button type="button" class="btn btn-departments"><%= @directory_object.department.title.titleize %></button></a>
              <% end %>
          <% end %>
          <% if @directory_object.type == "Room" %>
              <h2>Room </h2>
              <span><%= @directory_object.room_number %></span> 
              <% if @directory_object.name %>
              <h2>Name </h2>
              <span><%= @directory_object.name %></span> 
              <% end %>
          <% end %>
          <% if @directory_object.type == "Department" %>
              <h2>Title</h2>
              <span><%= @directory_object.title %></span> 
              <h1>Search Similar<h1>
              <a href="/directory?search=<%= @directory_object.title %>"><button type="button" class="btn btn-departments"><%= @directory_object.title.titleize %></button></a>
          <% end %>
          <% if @directory_object.type == "Event" %>
              <% if @directory_object.title %>
                  <h2>Title </h2>
                  <span><%= @directory_object.title %></span> 
              <% end %>
              <% if @directory_object.room %>
              <h2>Room </h2>
              <span><%= @directory_object.room.room_number %></span> 
              <% end %>
              <% if @directory_object.time %>
              <h2>Time </h2>
              <span><%= @directory_object.time %></span> 
              <% end %>
              <% if @directory_object.link %>
              <h2>Link </h2>
              <span><a href="<%= @directory_object.link %>">Event Link</span></a>
              <% end %>
              <% if @directory_object.department %>
              <h2>Department </h2>
              <span><%= @directory_object.department.title.titleize %></span>
              <% end %>

              <h1>Search Similar<h1>
              <a href="/directory?search=<%= @directory_object.department.title %>">
                <button type="button" class="btn btn-departments"><%= @directory_object.department.title.titleize %></button>
              </a>
          <% end %>
          <div class="replay-container">
            <a class="glyphicon glyphicon-repeat replay">Replay</a>
          </div>
        </div> <!-- panel body -->
      </div> <!-- destination-view -->
</div> <!-- row -->

