<script type="text/javascript">
  var counter = 0;

  $(document).ready(function() {
    //Only load page if origin is set.
    <% if @origin %>
      loadImage();

      //Convert SVG files to pngs. XML serializer, data, and floors code copied from https://gist.github.com/Caged/4649511
      function loadImage(){
        var imageLoading = true;
        for (var i = 0; i < 6; i++){
          src = "/maps/floor" + i + ".png";
          floors[i] = new Image();
          floors[i].onload = loader;
          floors[i].onerror = loadFailed;
          floors[i].src= src;
        }

        function loader() {
          if (counter < 5 && imageLoading){
            counter++;
          } else if (imageLoading) {
            rails();
          }
        }

        function loadFailed(){
          $("#mapLoadingInner").html('Image file not present, please contact administrator.');
        }
      }
      //parse object to show destination if one is set. then insert code from directory object helper to call wayfinding
      //plugin which sets all wayfinding internal options such as start point. Also loads svg files into dom.
      function rails(){
        $("div.ui-loader").remove();

        <% if @dest %>
          routeTrigger = true;
          destination = "<%=@dest%>";
        <% end %>

        <%
          @svg_paths = ["/maps/floor0.svg",
                         "/maps/floor1.svg",
                         "/maps/floor2.svg",
                         "/maps/floor3.svg",
                         "/maps/floor4.svg",
                         "/maps/floor5.svg"]
        %>

        <%= wayfinding_plugin(@svg_paths, @origin, @dest,) %>

        currentFloor = parseInt("<%= @origin %>".substr(1,1));

        wait();
      }

      //waits for wayfinding initialization to flag svg load complete, then calls function to
      //set default styles for each object in the floor divs.
      function wait(){
        if ($("#svgImage").wayfinding('fullyLoaded') == true){
          begin();
          setVisibilities();
        } else {
          window.setTimeout(wait, 100);
        }
      }

      //sets all default styles in/under floor divs, so program is ready to activate that floor
      //by toggling floor display value, and svg dimensions.
      function setVisibilities(){
        $("svg").css("pointer-events", "auto");
        $("svg").find('*').css({"pointer-events":"none","opacity":"0.0"});
        $("#Rooms a").find('*').css("pointer-events", "auto");
        $(".floor").css("display", "none");
        $(".floor").find('*').css("display", "none");
        $("svg").attr({"height":"350","width":"650"});
        $(".floor svg").css("display", "inline");
        $(".floor svg").find('#Rooms').css("display", "inline");
        $(".floor svg #data_layer").css("display", "inline");
        $(".floor svg #data_x5F_layer").css("display", "inline");
        $(".floor svg #Rooms").find('*').css("display", "inline");
        $(".floor svg #Paths").find('*').css("display", "inline");
        $(".startPin").css({"display":"inline","opacity":"1.0"});
        $("#viewing").css("display", "block");
        onLoad();
      }

    <% else %>
    // Origin is not set
      $("#mapLoadingInner").html('Kiosk location must be set in <%= link_to "administration", administration_index_path %>.');
    <% end %>
  });
</script>

  <div class="row">
    <div class="floor-nav">
      <ul>
        <li>
          <a href="#" id="flr-btn0" class="btn-floor">
            <img src=<%= asset_path "Floor0Button.png" %>>
          </a>
        </li>
        <li>
          <a href="#" id="flr-btn1" class="btn-floor">
            <img src=<%= asset_path "Floor1Button.png" %>>
          </a>
        </li>
        <li>
          <a href="#" id="flr-btn2" class="btn-floor">
            <img src=<%= asset_path "Floor2Button.png" %>>
          </a>
        </li>
        <li>
          <a href="#" id="flr-btn3" class="btn-floor">
            <img src=<%= asset_path "Floor3Button.png" %>>
          </a>
        </li>
        <li>
          <a href="#" id="flr-btn4" class="btn-floor">
            <img src=<%= asset_path "Floor4Button.png" %>>
          </a>
        </li>
        <li>
          <a href="#" id="flr-btn5" class="btn-floor">
            <img src=<%= asset_path "Floor5Button.png" %>>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div id="map">
      <div id="viewing">
        <canvas id="myCanvas">
        </canvas>
        <div id="svgImage"></div>
      </div>

      <div id="mapLoading">
        <div id="mapLoadingInner">
          <%= image_tag("loader.gif", alt: "Loading") %>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="floor-nav" id="accessibility-nav">
      <ul>
        <li>
          <a href="#" class="btn-access accessible">
            <img src= <%= asset_path "accessButton.png" %> class="img-fill">
          </a>
        </li>
        <li>
          <a href="#" class="btn-access replay disabled">
            <img src= <%= asset_path "repeatButton.png" %> class="img-fill">
          </a>
        </li>
      </ul>
    </div>
  </div>

<div id="destination-view">
  <i class="btn-min-max icon-right-arrow min-max"></i>
  <h1>Destination</h1>
</div>

<style>
</style>
