<script type="text/javascript">

  ready = function() {
    <% if @origin %>
    // Origin is set
      var destination, directory_object;

      $(document).on("wayfinding:floorChanged", function(e, data) {
        console.debug("Wayfinding indicates the floor has changed during an animation. Floor: " + data.map_id);

        // Reset home page return timer
        setRedirectToHome();

        // Make the corresponding floor button active
        $("a.btn-floor").removeClass('active');
        $($('a.btn-floor[data-mapId="' + data.map_id + '"]')[0]).addClass('active')
      });

      $(document).on("wayfinding:roomClicked", function(e, data) {
        console.debug("Wayfinding indicates a room was clicked. Room: " + data.room_id);

        destination = data.room_id;

        endFloor = destination.substring(1,2);
        $("a.btn-floor").removeClass('destination');
        $('a.btn-floor[data-mapId="floor' + endFloor + '"]').addClass('destination');

        $('.replay').addClass('disabled');
        toggleInfoPanel('min');

        setRedirectToHome(); // reset the home page return timer

        $.get( "/room/" + destination.substr(1) + ".json", function( data ) {
          showInfo(data);
        });
      });

      $(document).on("wayfinding:animationComplete", function() {
        $('.replay').removeClass('disabled');
        toggleInfoPanel();
      });

      $(document).on("wayfinding:ready", function(e, data) {
        startFloor = '<%= @origin %>'.substring(1,2);
        $('a.btn-floor[data-mapId="floor' + startFloor + '"]').addClass('active').addClass('start');

        try {
          directory_object = jQuery.parseJSON(_.unescape("<%= raw json_escape(html_escape(@object.to_json)) %>"));

          if (directory_object) {
            showInfo(directory_object);

            destination = 'R' + directory_object.room_number;
            endFloor = destination.substring(1, 2);

            if (destination.length > 0) {
              console.debug("destination = ", destination);
              $('#map').wayfinding('routeTo', destination);
              $('.replay').addClass('disabled');

              $("a.btn-floor").removeClass('destination');
              $('a.btn-floor[data-mapId="floor' + endFloor + '"]').addClass('destination');
            }
          }
        } catch(e) {
          console.error('Error parsing @object to JSON', e)
        }

        $('.replay').click(function(e) {
          e.preventDefault();
          if (destination.length > 0 && !$(this).hasClass('disabled')) {
            $('#map').wayfinding('routeTo', destination);
            $(this).addClass('disabled');
            toggleInfoPanel('min');
          }
        });

        // Toggle route accessibility
        $('.accessible').click(function(e) {
          e.preventDefault();
          setRedirectToHome();

          if (destination.length > 0)
            $('a.accessible').toggleClass('active');
            $('#map').wayfinding('accessibleRoute', !$('#map').wayfinding('accessibleRoute'), function() {
              if($('.replay').hasClass("disabled") == false) {
                // Route was alredy shown, so redraw with accessibility enabled
                $('#map').wayfinding('routeTo', destination);
                $('.replay').addClass('disabled');
                toggleInfoPanel('min');
              }
            });
         })
      });

    <%
      @svg_paths = ["/maps/floor0.svg",
                    "/maps/floor1.svg",
                    "/maps/floor2.svg",
                    "/maps/floor3.svg",
                    "/maps/floor4.svg",
                    "/maps/floor5.svg"]
    %>
    <%= wayfinding_plugin(@svg_paths, asset_path("/dataStore/dataStore-" + @origin + ".json"), asset_path("/dataStore/dataStore-accessible-" + @origin + ".json"), @origin, @dest) %>
    <% else %>
      // Origin is not set
      $("#mapLoadingInner").html('Kiosk location must be set in <%= link_to "administration", administration_index_path %>.');

    <% end %>
  };

  $(document).ready(ready);

  $(document).on("page:load", ready);

</script>


  <div class="row floor-nav row-no-padding top">
      <div class="col-lg-1 col-lg-offset-3 col-xs-2">
        <a href="#" data-mapId="floor0" class="btn-floor">
          <img src=<%= asset_path "Floor0Button.png" %> class="img-fill">
        </a>
      </div>
      <div class="col-lg-1 col-xs-2">
        <a href="#" data-mapId="floor1" class="btn-floor">
          <img src=<%= asset_path "Floor1Button.png" %> class="img-fill">
        </a>
      </div>
      <div class="col-lg-1 col-xs-2">
        <a href="#" data-mapId="floor2" class="btn-floor">
          <img src=<%= asset_path "Floor2Button.png" %> class="img-fill">
        </a>
      </div>
      <div class="col-lg-1 col-xs-2">
        <a href="#" data-mapId="floor3" class="btn-floor">
          <img src=<%= asset_path "Floor3Button.png" %> class="img-fill">
        </a>
      </div>
      <div class="col-lg-1 col-xs-2">
        <a href="#" data-mapId="floor4" class="btn-floor">
          <img src=<%= asset_path "Floor4Button.png" %> class="img-fill">
        </a>
      </div>
      <div class="col-lg-1 col-xs-2">
        <a href="#" data-mapId="floor5" class="btn-floor">
          <img src=<%= asset_path "Floor5Button.png" %> class="img-fill">
        </a>
      </div>
  </div>

  <div class="row middle" id="map">
    <div class="col-xs-12">
      <div id="mapLoading">
        <div id="mapLoadingInner">
          <%= image_tag("loader.gif", alt: "Loading") %>
        </div>
      </div>
    </div>
  </div> <!-- #map -->

  <div class="row floor-nav row-no-padding bottom">
    <div class="col-lg-1 col-lg-offset-5 col-xs-2 col-xs-offset-4">
      <a href="#" class="btn-access accessible">
        <img src= <%= asset_path "accessButton.png" %> class="img-fill">
      </a>
    </div>
    <div class="col-lg-1 col-xs-2">
      <a href="#" class="btn-access replay disabled">
        <img src= <%= asset_path "repeatButton.png" %> class="img-fill">
      </a>
    </div>
  </div>

<div id="destination-view-bg"></div>
<div id="destination-view">
  <i class="btn-min-max icon-right-arrow min-max"></i>
  <h1>Destination</h1>
</div>

<style>
</style>