<script type="text/javascript">
  // Redirect to home page after a certain period has elapsed
  setRedirectToHome();

  $(function() {
    resizeIcons();

    $('a.btn-home').click(function(e) {
      e.preventDefault();

      var anchor = $(this), h;
      h = anchor.attr('href');

      $('ul.vertical-nav').animate({left: '-200%'}, 500, function() {
        window.location = h;
      })
    });
  });

  function showInfo(data, similar, class_suffix) {
    class_suffix = class_suffix || 'rooms'

    $('#destination-view h2, #destination-view span').remove();
    $('#destination-view h1').addClass('btn-' + class_suffix);
    $('#destination-view').addClass('text-' + class_suffix);

    var attrs = ['name', 'room_number', 'email', 'phone'];

    if (data) {
      for (var i = 0; i < attrs.length; i++) {
        value = eval("data." + attrs[i]);
        if (value) {
          $('#destination-view').append("<h2>" + attrs[i].split('_').join(' ') + "</h2>");
          $('#destination-view').append("<span>" + value + "</span>");
        }
      }

      if (similar) {
        $('#destination-view').append("<h2>Search Similar</h2><a href='/search?q=" + similar + "'><span class='label label-default btn-departments'>" + similar + "</span></a>");
      }

      $('#destination-view').css('right', 0);
    } else {
      console.log('Object not found in directory');
      $('#destination-view').css('right', '-1000px');
    }
  }

  ready = function() {
    <% if @origin %>
      var destination, directory_object;

      $(document).on("wayfinding:floorChanged", function(e, data) {
        console.log("Wayfinding indicates the floor has changed during an animation. Floor: " + data.map_id);
        // Make the corresponding floor button active
        $("a.btn-floor").removeClass('active');
        $($('a.btn-floor[data-mapId="' + data.map_id + '"]')[0]).addClass('active')
      });

      $(document).on("wayfinding:roomClicked", function(e, data) {
        console.log("Wayfinding indicates a room was clicked. Room: " + data.room_id);
        destination = data.room_id;

        setRedirectToHome(); // reset the home page return timer

        $.get( "/room/" + destination.substr(1) + ".json", function( data ) {
          showInfo(data);
        });
      });

      $(document).on("wayfinding:animationComplete", function(e, data) {
        console.log("Wayfinding indicates animation is complete.");
        $('.replay').removeClass('disabled');
      });

      $(document).on("wayfinding:ready", function() {
        $($('a.btn-floor[data-mapId="floor1"]')[0]).addClass('active')

        try {
          directory_object = jQuery.parseJSON('<%= raw @directory_object.to_json %>');
          similar = '<%= @department %>';
          class_suffix = '<%= @directory_object.type.pluralize.downcase if @directory_object.present? %>';
          if (directory_object) {
            showInfo(directory_object, similar, class_suffix);
          }
        } catch(e) {
          console.error('Error parsing @directory_object to JSON', e)
        }

        destination = '<%= @destination %>';

        if (destination.length > 0) {
          console.debug("destination = ",destination);
          $('#map').wayfinding('routeTo', destination);
          $('.replay').addClass('disabled');
        }

        $('.replay').click(function(e) {
          e.preventDefault();
          if (destination.length > 0 && !$(this).hasClass('disabled')) {
            $('#map').wayfinding('routeTo', destination);
            $(this).addClass('disabled');
          }
        });

         //toggle accessibleRoute
        $('.accessible').click(function(e) {
          e.preventDefault();

          if (destination.length > 0)
            $('a.accessible').toggleClass('active');
            $('#map').wayfinding('accessibleRoute', !$('#map').wayfinding('accessibleRoute'), function() {
              if($('.replay').hasClass("disabled") == false) {
                // Route was alredy shown, so redraw with accessibility enabled
                $('.replay').addClass('disabled');
                $('#map').wayfinding('routeTo', destination);
              }
            });
         })
      });

    <%
      @svg_paths = [asset_path("ssh_floor_0.svg"),
                    asset_path("ssh_floor_1.svg"),
                    asset_path("ssh_floor_2.svg"),
                    asset_path("ssh_floor_3.svg"),
                    asset_path("ssh_floor_4.svg"),
                    asset_path("ssh_floor_5.svg")]
    %>
    <%= wayfinding_plugin(@svg_paths, asset_path("dataStore-" + @origin + ".json"), asset_path("dataStore-accessible-" + @origin + ".json"), @origin) %>
    <% else %>
      $("#mapLoadingInner").css("top", "30%");
      $("#mapLoadingInner").html("Uh oh! Kiosk/QR location unset.");

    <% end %>
  };

  $(document).ready(ready);

  $(document).on("page:load", ready);

</script>


<div class="row">
  <div class="col-xs-9 show-map">
    <ul class="horizontal-nav map-actions">
      <span>Floors</span>
      <li><a href="#" data-mapId="floor0" class="btn-floor">L</a></li>
      <li><a href="#" data-mapId="floor1" class="btn-floor">1</a></li>
      <li><a href="#" data-mapId="floor2" class="btn-floor">2</a></li>
      <li><a href="#" data-mapId="floor3" class="btn-floor">3</a></li>
      <li><a href="#" data-mapId="floor4" class="btn-floor">4</a></li>
      <li><a href="#" data-mapId="floor5" class="btn-floor">5</a></li>
    </ul>
    <div id="map">
      <div id="mapLoading">
        <div id="mapLoadingInner">
          <%= image_tag("loader.gif", alt: "Loading") %>
        </div>
      </div>
    </div> <!-- #map -->
    <ul class="horizontal-nav map-actions">
      <li><a href="#" class="btn-map-action icon-accessible accessible"></a></li>
      <li><a href="#" class="btn-map-action icon-repeat replay disabled"></a></li>
    </ul>
  </div> <!-- .show-map -->

  <div id="destination-view">

    <h1>Destination</h1>

  </div> <!-- destination-view -->
</div> <!-- row -->
