<!--Toggeable hamburger menu-->
<div class="container-fluid">
<div class="content-center">
<ul class="nav navbar-nav navbar-left btn-block">
        <li>
        <a href="">
            <button type="button" class="btn btn-block" style="background:none;">
				<img src=<%= asset_path "icons/home-btn.png" %> >
                <span class="btn-text text-rooms">Home</span>
            </button>
        </a>
    </li>
    <li>
        <a href="/people">
            <button type="button" class="btn btn-block" style="background:none;">
				<img src=<%= asset_path "icons/people-btn.png" %> >
                <span class="btn-text text-people">People</span>
            </button>
        </a>
    </li>
    <li>
        <a href="/departments">
            <button type="button" class="btn btn-block" style="background:none;">
				<img src=<%= asset_path "icons/departments-btn.png" %> >
                <span class="btn-text text-departments">Departments</span>
            </button>
        </a>
    </li>
    <li>
        <a href="/events">
            <button type="button" class="btn btn-block" style="background:none;">
				<img src=<%= asset_path "icons/events-btn.png" %> >
                <span class="btn-text text-events">Events</span>
            </button>
        </a>
    </li>
    <li>
        <a href="/map">
            <button type="button" class="btn btn-block" style="background:none;">
				<img src=<%= asset_path "icons/map-btn.png" %> >
                <span class="btn-text text-map">Map</span>
            </button>
        </a>
    </li>
    <!-- <li>
        <a href="/about">
            <button type="button" class="btn btn-block" style="background:none;">
				<img src=<%= asset_path "icons/about-btn.png" %> >
                <span class="btn-text text-about">About</span>
            </button>
        </a>
    </li> -->
</ul> <!-- toggle menu items -->
</div>
</div>
