<!--Toggeable hamburger menu-->

<!-- portrait -->
<div class="container-fluid drop-down-portrait">
<div class="content-flex--center">
<ul class="nav navbar-nav navbar-left btn-block">
        <li>
        <a href="/">
            <button type="button" class="btn btn-block" style="background:none;">
				<img src=<%= asset_path "icons/home-btn.png" %> >
            </button>
            <span class="btn-text text-rooms">Home</span>
        </a>
    </li>
    <li>
        <a href="/map">
            <button type="button" class="btn btn-block" style="background:none;">
				<img src=<%= asset_path "icons/map-btn.png" %> >
            </button>
            <span class="btn-text text-map">Map</span>
        </a>
    </li>
    <li>
        <a href="/people">
            <button type="button" class="btn btn-block" style="background:none;">
				<img src=<%= asset_path "icons/people-btn.png" %> >
            </button>
            <span class="btn-text text-people">People</span>
        </a>
    </li>
    <li>
        <a href="/departments">
            <button type="button" class="btn btn-block" style="background:none;">
				<img src=<%= asset_path "icons/departments-btn.png" %> >
            </button>
            <span class="btn-text text-departments">Departments</span>
        </a>
    </li>
    <li>
        <a href="/events">
            <button type="button" class="btn btn-block" style="background:none;">
				<img src=<%= asset_path "icons/events-btn.png" %> >
                <span class="btn-text text-events">Events</span>
            </button>
        </a>
    </li>
</ul> <!-- toggle menu items -->
</div>
</div>

<!-- landscape -->
<div class="container-fluid drop-down-landscape">
<div class="content-flex--center">
<ul class="nav navbar-nav navbar-left btn-block content-flex--item--center">
        <li>
        <a href="">
            <button type="button" class="btn btn-block" style="background:none;">
				<img src="/assets/icons/home-btn-10aecc0b94083d3af850cf00aa3dfe6283f07637c6680328dcc8f2f6e4dc7366.png">
                <span class="btn-text text-rooms">Home</span>
            </button>
        </a>
    </li>
    <li>
        <a href="/people">
            <button type="button" class="btn btn-block" style="background:none;">
				<img src="/assets/icons/people-btn-d08e1f499cbe325aae92454642fb2a7f6f79c62746b305186ef258ee5e275fcd.png">
                <span class="btn-text text-people">People</span>
            </button>
        </a>
    </li>
    <li>
        <a href="/departments">
            <button type="button" class="btn btn-block" style="background: transparent none repeat scroll 0% 0%; padding-left: 12px;">
				<img src="/assets/icons/departments-btn-eed29132ab63a92eace38fd190d0c8770e43447cd7a8e1ff000b9fe6293eb1e2.png">
                <span class="btn-text text-departments">Departments</span>
            </button>
        </a>
    </li>
</ul>
</div>

<div class="content-center">
    <ul style="display: flex; flex-direction: row; flex: 1 1 100%; justify-content: center;" class="nav navbar-nav navbar-left btn-block">
    <li>
        <a href="/events">
            <button type="button" class="btn btn-block" style="background:none;">
				<img src="/assets/icons/events-btn-b7991a545e89a463a835fbec389f6009a4011ab2e787f36c4d9bbf6c5fd9abbe.png">
                <span class="btn-text text-events">Events</span>
            </button>
        </a>
    </li>
    <li>
        <a href="/map">
            <button type="button" class="btn btn-block" style="background:none;">
				<img src="/assets/icons/map-btn-391c90bef1783455ae4df5fbb98723546ab8f8c614f0a9cf9f574d91e2ed4c4c.png">
                <span class="btn-text text-map">Map</span>
            </button>
        </a>
    </li>
</ul>
</div>
</div>

