<!DOCTYPE html>
<html>
<head>
  <title>DSS Wayfinding</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />
  <link rel="icon" type="image/png" href="/favicon.png" />

  <link href="/favicon.png" rel="apple-touch-icon" />
  <link href="/favicon_76.png" rel="apple-touch-icon" sizes="76x76" />
  <link href="/favicon_120.png" rel="apple-touch-icon" sizes="120x120" />
  <link href="/favicon_152.png" rel="apple-touch-icon" sizes="152x152" />

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <% unless controller_name == 'administration' %>
    <%= javascript_include_tag 'application', action_name %>
  <% end %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
  document.origin = '<%= @origin %>';

  /* Do not use the development_mode flag to enable access or otherwise
   * alter security. It is very easy to fake.
   * It is merely used to turn off the auto-redirect in redirect.js
   * as this annoys developers who may wish to linger on a page.
   */

  document.development_mode = '<%= Rails.env %>' == "development";
  </script>


</head>

<body data-spy="scroll" data-target="#side-nav">
		<!-- static side-navbar -->
	<ul class="vertical-nav hidden-xs">
  <li>
    <a href="/people" class="btn-people icon-people">
      <span class="text-people">people</span>
    </a>
  </li>
  <li>
    <a href="/departments" class="btn-departments icon-departments">
      <span class="text-departments">departments</span>
    </a>
  </li>
  <li>
    <a href="/events" class="btn-events icon-events">
      <span class="text-events">events</span>
    </a>
  </li>
  <li>
    <a href="/map" class="btn-map icon-map">
      <span class="text-map">map</span>
    </a>
  </li>
  <li>
    <a href="/about" class="btn-about icon-about">
      <span class="text-about">about</span>
    </a>
  </li>
</ul>


	<!-- static navbar -->
<nav class="navbar navbar-default navbar-fixed-top <visible-xs-block></visible-xs-block>">
  <div class="navbar-header navbar-header--flex-start hidden-xs">
    <div class="wayfinding-logo--style">
      <a href="/"><img style="height: 30px; margin-right: 5px;" src="/assets/icons/wayfinding-logo-e5ca4ad67894f5b4179cfac8a491d00d8211d2643d6310cfb1f75f79298423d6.png"></a>
      <h5><a href="/">WAYFINDING</a></h5>
    </div>
    <div class="input-group" style="width: 50%;">
      <i class="glyphicon glyphicon-search search-icon" aria-hidden="true"></i>
      <input class="form-control form-control--style" placeholder="Search by name, room, and department" aria-describedby="basic-addon1" style="text-indent: 30px; width: 60%;" type="text">
    </div>
  </div>
						

  <!-- toggle hamburger menu -->
  <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle visible-xs">
    <span class="glyphicon glyphicon-align-justify nav-icon" aria-hidden="true"></span>
  </button>

  <!-- Search-->
  <form class="navbar-toggle visible-xs">
    <span class="glyphicon glyphicon-search glyphicon-search--position" aria-hidden="true"></span>
    <input type="search" placeholder="Search">
  </form>

  <!-- about -->
  <a href="/about" class="pull-left">
	  <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle visible-xs">
      <span class="glyphicon glyphicon-info-sign nav-icon" id="about-icon" aria-hidden="true"></span>
    </button>
  </a>

				<!-- Logout shows if in /administration -->
				<script type="text/javascript">
					$(document).ready(function () {
						if(window.location.href.indexOf("administration") < 0) {
							$("#logout").hide();
						}
					});
				</script>
				<!-- Logout -->
				<button type="button" class="btn-navbar-main btn btn-default btn-logout-nav" id="logout">
					<a href="/logout" class="text-logout">Logout</a>
				</button>
	        </div> <!-- navbar-header -->

	         <!-- Hamburger Menu --> <!-- background drop down white -->
	        <div id="navbarCollapse" class="collapse navbar-collapse" style="background-color: white;"> 
	            <%= render("layouts/vertical_navigation") %>
	        </div> <!-- navbarCollapse -->
	</nav>

  <% if action_name == "landing" %>
    <%= yield :javascript %>
    <%= yield %>
  <% else %>
    <div class="main-content margin-left-120">
      <div class="container-fluid">
        <%= yield :javascript %>
        <%= yield %>
      </div>
    </div> <!-- main-content -->
  <% end %>

</body>
</html>
