<!DOCTYPE html>
<html>
<head>
  <title>DSS Wayfinding</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />
  <link rel="icon" type="image/png" href="/favicon.png" />

  <link href="/favicon.png" rel="apple-touch-icon" />
  <link href="/favicon_76.png" rel="apple-touch-icon" sizes="76x76" />
  <link href="/favicon_120.png" rel="apple-touch-icon" sizes="120x120" />
  <link href="/favicon_152.png" rel="apple-touch-icon" sizes="152x152" />

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <% unless controller_name == 'administration' %>
    <%= javascript_include_tag 'application', action_name %>
  <% end %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
  document.origin = '<%= @origin %>';
  // Do not use the development_mode flag to enable access or otherwise
  // alter security. It is very easy to fake.
  // It is merely used to turn off the auto-redirect in redirect.js
  // as this annoys developers who may wish to linger on a page.
  document.development_mode = '<%= Rails.env %>' == "development";
  </script>

<style type="text/css">
    /* Medium Devices, Desktops */
     @media only screen and (max-width : 1080px) {
        body{
        padding-top: 60px;
    }
    }
    /* if wider than min-width navbar dissapears */
    @media only screen and (min-width : 1080px) {
        .navbar {
            display: none;
        }
    }
</style>
</head>



<body data-spy="scroll" data-target="#side-nav">

<!-- static navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <!-- Home Button -->
            <!-- <div class="left-btn-container home"> -->
            <button type="button" class="btn btn-xs btn-default">
            <a href="/" class="btn-home icon-home"></a>
            </button>

            <!-- Search Form -->
            <!-- <div class="left-btn-container search"> -->
            <button type="button" class="btn btn-xs btn-default">
            <% unless controller_name == "administration" %>
                <a href="/search" class="btn-search icon-search"></a>
            <% else %>
                <a href="/logout" class="btn-logout icon-logout"></a>
            <% end %>
            </button>
            <!--</div> -->            

            <!-- toggle gets grouped for better mobile display -->
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span> 
                <!-- 3 layer hamburger icon -->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
         <!-- Hamburger Menu -->
         <!-- just copy pastad from vertical navigation -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left btn-block">
                <li>
                    <a href="/people">
                        <button type="button" class="btn navbar-btn btn-block">
                            <span class="btn-people icon-people"></span>
                            <span class="text-people">People</span>
                        </button>
                    </a>
                </li>
                <li>
                    <a href="/departments">
                        <button type="button" class="btn navbar-btn btn-block">
                            <span class="btn-departments icon-departments"></span>
                            <span class="text-departments">Departments</span>
                        </button>
                    </a>
                </li>
                <li>
                    <a href="/events">
                        <button type="button" class="btn navbar-btn btn-block">
                            <span class="btn-events icon-events"></span>
                            <span class="text-events">Events</span>
                        </button>
                    </a>
                </li>
                <li>
                    <a href="/rooms">                
                        <button type="button" class="btn navbar-btn btn-block">
                            <span class="btn-rooms icon-rooms"></span>
                            <span class="text-rooms">Rooms</span>
                        </button>
                    </a>
                </li>
                <li>
                    <a href="/map">
                        <button type="button" class="btn navbar-btn btn-block">
                            <span class="btn-map icon-map"></span>
                            <span class="text-map">Map</span>
                        </button>
                    </a>
                </li>
                <li>
                    <a href="/about">
                        <button type="button" class="btn navbar-btn btn-block">
                            <span class="btn-about icon-about"></span>
                            <span class="text-about">About</span>
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<!-- Circle buttons
  <div class="container-fluid">
    <div class="right-btn-container search">
    <% unless controller_name == "administration" %>
      <a href="/search" class="btn-search icon-search"></a>
    <% else %>
      <a href="/logout" class="btn-logout icon-logout"></a>
    <% end %>
    </div>
    <% if action_name == "landing" %>
    <div class="right-btn-container about">
      <a href="/about" class="btn-about icon-about"></a>
    </div>
    <% else %>
    <div class="right-btn-container home">
      <a href="/" class="btn-home icon-home"></a>
    </div>
    <% end %>
-->

    <div class="row">
      <div class="col-xs-12">
        <% if action_name == "landing" %>
          <%= yield :javascript %>
          <%= yield %>
        <% else %>
          <!-- Inner-div required to pad all pages except 'landing' -->
          <div class="main-content">
            <%= yield :javascript %>
            <%= yield %>
          </div> <!-- main-content -->
        <% end %>
      </div>

    </div> <!-- row -->
  </div> <!-- container-fluid -->

</body>
</html>
