<!DOCTYPE html>
<html>
<head>
  <title>DssWayfinding</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <script type="text/javascript">
    document.origin = '<%= @origin %>'
  </script>
</head>
<body>

<div class="container-fluid">
    <div id="site-container" class="row">
      <div class="search-container">
          <a href="/search">
            <i class="glyphicon glyphicon-search"></i>
          </a>
      </div>
      <div id="left-nav"class="col-xs-2">
        <div class="left-nav-link">
        <a href="/" ><button type="button" class="btn btn-home btn-xl">Home</button></a>
        </div>
        <div class="left-nav-link">
        <a href="/people" ><button type="button" class="btn btn-people btn-xl">People</button></a>
        </div>
        <div class="left-nav-link">
        <a href="/departments" ><button type="button" class="btn btn-departments btn-xl">Departments</button></a>
        </div>
        <div class="left-nav-link">
        <a href="/events" ><button type="button" class="btn btn-events btn-xl">Events</button></a>
        </div>
        <div class="left-nav-link">
        <a href="/rooms" ><button type="button" class="btn btn-rooms btn-xl">Rooms</button></a>
        </div>
        <div class="left-nav-link">
        <a href="/map" ><button type="button" class="btn btn-map btn-xl">Map</button></a>
        </div>
      </div>
      <div id="main-view" class="col-xs-10">
        <%= yield %>
        <%= yield :javascript %>
      </div> <!-- site-container row -->
</div> <!-- container-fluid -->

</body>
</html>
