<!DOCTYPE html>
<html>
<head>
  <title>DSS Wayfinding</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />
  <link rel="icon" type="image/png" href="/favicon.png" />

  <link href="/favicon.png" rel="apple-touch-icon" />
  <link href="/favicon_76.png" rel="apple-touch-icon" sizes="76x76" />
  <link href="/favicon_120.png" rel="apple-touch-icon" sizes="120x120" />
  <link href="/favicon_152.png" rel="apple-touch-icon" sizes="152x152" />

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <% unless controller_name == 'administration' %>
    <%= javascript_include_tag 'application', action_name %>
  <% end %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
  document.origin = '<%= @origin %>';

  /* Do not use the development_mode flag to enable access or otherwise
   * alter security. It is very easy to fake.
   * It is merely used to turn off the auto-redirect in redirect.js
   * as this annoys developers who may wish to linger on a page.
   */

  document.development_mode = '<%= Rails.env %>' == "development";
  </script>


</head>

<body data-spy="scroll" data-target="#side-nav">
	<!-- static navbar -->
	<nav class="navbar navbar-default navbar-fixed-top">
	    <div class="container">
	        <div class="navbar-header">
	            <!-- Home Button -->
				<a href="/">
					<button type="button" class="btn-navbar-main btn btn-default">
						<img src=<%= asset_path "icons/events-btn.png" %> >	<!--change icon here -->
					</button>
				</a>

	            <!-- Search-->
				<a href="/search">
					<button type="button" class="btn-navbar-main btn btn-default">
						<img src=<%= asset_path "icons/about-btn.png" %> > <!--change icon here -->
					</button>
				</a>

	            <!-- toggle hamburger menu -->
	            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
	                <span class="sr-only">Toggle navigation</span>
	                <!-- 3 layer hamburger icon -->
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>

				<!-- Logout shows if in /administration -->
				<script type="text/javascript">
					$(document).ready(function () {
						if(window.location.href.indexOf("administration") < 0) {
							$("#logout").hide();
						}
					});
				</script>
				<!-- Logout -->
				<button type="button" class="btn-navbar-main btn btn-default btn-logout-nav" id="logout">
					<a href="/logout" class="text-logout">Logout</a>
				</button>
	        </div>

	         <!-- Hamburger Menu -->
	        <div id="navbarCollapse" class="collapse navbar-collapse">
	            <%= render("layouts/vertical_navigation") %>
	        </div> <!-- navbarCollapse -->
	    </div> <!-- container -->
	</nav>

  <% if action_name == "landing" %>
    <%= yield :javascript %>
    <%= yield %>
  <% else %>
    <div class="main-content">
      <div class="container-fluid">
        <%= yield :javascript %>
        <%= yield %>
      </div>
    </div> <!-- main-content -->
  <% end %>

</body>
</html>
