<!DOCTYPE html>
<html>
<head>
  <title>DssWayfinding</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', params[:action], 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <script type="text/javascript">
    document.origin = '<%= @origin %>'
  </script>
</head>
<body>

<div class="container-fluid">
    <div id="site-container">
      <div class="search-container">
          <a href="/search" class="btn-search icon-search"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2">
        <ul class="vertical-nav">
          <li>
          <a href="/" class="btn-home icon-home" ></a>
          </li>
          <li>
          <a href="/people" class="btn-people icon-people" ></a>
          </li>
          <li>
          <a href="/departments" class="btn-departments icon-departments" ></a>
          </li>
          <li>
          <a href="/events" class="btn-events icon-events" ></a>
          </li>
          <li>
          <a href="/rooms" class="btn-rooms icon-rooms" ></a>
          </li>
          <li>
          <a href="/map" class="btn-map icon-map" ></a>
          </li>
        </ul>
      </div>
      <div id="main-view" class="col-xs-10">
        <%= yield :javascript %>
        <%= yield %>
      </div> <!-- main-view -->
    </div> <!-- row -->
</div> <!-- container-fluid -->

</body>
</html>
