<!DOCTYPE html>
<html>
<head>
  <title>DSS Wayfinding</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />
  <link rel="icon" type="image/png" href="/favicon.png" />

  <link href="/favicon.png" rel="apple-touch-icon" />
  <link href="/favicon_76.png" rel="apple-touch-icon" sizes="76x76" />
  <link href="/favicon_120.png" rel="apple-touch-icon" sizes="120x120" />
  <link href="/favicon_152.png" rel="apple-touch-icon" sizes="152x152" />

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <% unless controller_name == 'administration' %>
    <%= javascript_include_tag 'application', action_name %>
  <% end %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
  document.origin = '<%= @origin %>';
  // Do not use the development_mode flag to enable access or otherwise
  // alter security. It is very easy to fake.
  // It is merely used to turn off the auto-redirect in redirect.js
  // as this annoys developers who may wish to linger on a page.
  document.development_mode = '<%= Rails.env %>' == "development";
  </script>
</head>



<body data-spy="scroll" data-target="#side-nav">
  <div class="topRibbon">
    <a class="btn btn-default" id="menuToggleButton">Toggle Menu </a>
  </div>
  <div class="container overlay" id="overlayContainer">
    <div class="overlayGreyOut"></div>
    <div class="col-lg-2 col-sm-6" id="sideBarColumn">
      <div id="sidebarContainer">
        <%= render("layouts/vertical_navigation") %>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="right-btn-container search">
    <% unless controller_name == "administration" %>
      <a href="/search" class="btn-search icon-search"></a>
    <% else %>
      <a href="/logout" class="btn-logout icon-logout"></a>
    <% end %>
    </div>
    <% if action_name == "landing" %>
    <div class="right-btn-container about">
      <a href="/about" class="btn-about icon-about"></a>
    </div>
    <% else %>
    <div class="right-btn-container home">
      <a class="btn btn-default" id="menuToggleButton">Toggle Menu </a>
      <a href="/" class="btn-home icon-home"></a>
    </div>
    <% end %>

    <div class="row">
      <div class="col-xs-12">
        <% if action_name == "landing" %>
          <%= yield :javascript %>
          <%= yield %>
        <% else %>
          <!-- Inner-div required to pad all pages except 'landing' -->
          <div class="main-content">
            <%= yield :javascript %>
            <%= yield %>
          </div> <!-- main-content -->
        <% end %>
      </div>
    </div> <!-- row -->
  </div> <!-- container-fluid -->



  <%= render "shared/analytics" %>
  <style>
  body {
    padding-bottom: 5vh;
    margin-bottom: 5vh;
  }
  .topRibbon {
    position: fixed;
    top: 0;
    height: 5vh;
    width: 100%;
    background-color: #00cc44;
    z-index: 1;
  }
  #overlayContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 5vh;    
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    overflow-y: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    /*defaults to hidden*/
    z-index: -1;
    opacity: 0;
  }

  .overlayGreyOut {
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: inherit;
  }

  #sideBarColumn {
    position: absolute;
    top: 0;
    height: 100%;
    overflow-y: hidden;
    z-index: 12;
      margin-left: 0;
      padding-left: 0;
  }

  #sidebarContainer {

      /*defaults to hidden*/
      left: -100%; 
      margin-left: -100%;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    background-color: cyan;
    height: 100%;
    width: 100%;
  }

  #overlayContainer.unhide {
    z-index: 10;
    opacity: 1;
  }

  #sidebarContainer.unhide {
    left: 0;
    margin-left: 0;
  }

  </style>

  <script>
      $("#menuToggleButton").click(function(e) {
          e.preventDefault();
          $("#sidebarContainer").toggleClass("unhide");
          $("#overlayContainer").toggleClass("unhide");
          $('body').css('overflow', 'hidden');
      });
  </script>

</body>
</html>
