<!DOCTYPE html>
<html>
<head>
  <title>DSS Wayfinding</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />
  <link rel="icon" type="image/png" href="/favicon.png" />

  <link href="/favicon.png" rel="apple-touch-icon" />
  <link href="/favicon_76.png" rel="apple-touch-icon" sizes="76x76" />
  <link href="/favicon_120.png" rel="apple-touch-icon" sizes="120x120" />
  <link href="/favicon_152.png" rel="apple-touch-icon" sizes="152x152" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <% unless controller_name == 'administration' %>
    <%= javascript_include_tag 'application', action_name, 'data-turbolinks-track' => true %>
  <% end %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
  document.origin = '<%= @origin %>';
  // Do not use the development_mode flag to enable access or otherwise
  // alter security. It is very easy to fake.
  // It is merely used to turn off the auto-redirect in redirect.js
  // as this annoys developers who may wish to linger on a page.
  document.development_mode = '<%= Rails.env %>' == "development";
  </script>
</head>
<body data-spy="scroll" data-target="#side-nav">

  <div class="container-fluid">
    <div class="right-btn-container search">
    <% unless controller_name == "administration" %>
      <a href="/search" class="btn-search icon-search"></a>
    <% else %>
      <a href="/logout" class="btn-logout icon-logout"></a>
    <% end %>
    </div>
    <% if action_name == "landing" %>
    <div class="right-btn-container about">
      <a href="/about" class="btn-about icon-about"></a>
    </div>
    <% else %>
    <div class="right-btn-container home">
      <a href="/" class="btn-home icon-home"></a>
    </div>
    <% end %>

    <div class="row">
      <% if ["landing"].include?(action_name) || ["administration", "site"].include?(controller_name) %>
        <% col_xs_12_style = "width: 100%;" %>
      <% else %>
        <% col_xs_12_style = "width: calc(100% - 130px); margin-left: 130px;" %>
        <%= render "vertical_navigation" unless (["landing"].include?(action_name) || ["administration","site"].include?(controller_name)) %>
      <% end %>

      <div class="col-xs-12" style="<%= col_xs_12_style %>">
        <% if action_name == "landing" %>
          <%= yield :javascript %>
          <%= yield %>
        <% else %>
          <!-- Inner-div required to pad all pages except 'landing' -->
          <div class="main-content">
            <%= yield :javascript %>
            <%= yield %>
          </div> <!-- main-content -->
        <% end %>
      </div>
    </div> <!-- row -->
  </div> <!-- container-fluid -->

  <%= render "shared/analytics" %>
</body>
</html>
