<!DOCTYPE html>
<html>
<head>
  <title>DSS Wayfinding</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <script type="text/javascript">
    $(function() {
      // When clicking any link in the landing page, animate, then go
      $('ul.landing a').click(function(e) {
          var anchor = $(this), h;
          h = anchor.attr('href');
          e.preventDefault();
          $('ul.landing').css('margin-top','200%');
          setTimeout(function(){
              window.location = h;
            }, 500);
      });
      // Hide the buttons, then ease them in on page load
      $('ul.landing').css('margin-top','200%');
      setTimeout(function(){
          $('ul.landing').css('-moz-transition', 'all 1s ease');
          $('ul.landing').css('-webkit-transition', 'all 1s ease');
          $('ul.landing').css('transition', 'all 1s ease');
          $('ul.landing').css('margin-top','15%');
        }, 0);
    });
  </script>
</head>
<body>


<div class="container-fluid">
    <div id="site-container" class="row">
      <div class="search-container">
          <a href="/search" class="btn-search icon-search"></a>
      </div>
      <div id="main-view" class="col-xs-12">
        <%= yield %>
        <%= yield :javascript %>
      </div>
    </div> <!-- row -->
</div> <!-- container-fluid -->

</body>
</html>
