<!DOCTYPE html>
<html>
<head>
  <title>DssWayfinding</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="container-fluid">
    <div id="site-container" class="row">
      <div id="left-nav"class="col-xs-2">
        <div class="left-nav-link">
        </div>
      </div>
      <div id="main-view" class="col-xs-10">
        <div class="search-container">
          <form accept-charset="UTF-8" action="/directory" method="get">
            <input name="search-string" type="text" class="form-control search" placeholder="Search">
            <button type="button">S</button>
          </form>
        </div>
        <%= yield %>
        <%= yield :javascript %>
      </div>
    </div> <!-- row -->
</div> <!-- container-fluid -->

</body>
</html>
