<!DOCTYPE html>
<html>
<head>
  <title>DssWayfinding</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>


<div class="container-fluid">
    <div id="site-container" class="row">
      <div id="left-nav"class="col-xs-2">
        <div class="left-nav-link">
        </div>
      </div>
      <div id="main-view" class="col-xs-10">
        <div class="search-container">
            <a href="/search"><button type="button" class="btn-search">S</button></a>
        </div>
        <%= yield %>
        <%= yield :javascript %>
      </div>
    </div> <!-- row -->
</div> <!-- container-fluid -->

</body>
</html>
